@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
main{
    background-color: white;
    width: 600px;
    padding:10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(138, 133, 133, 0.568);
}
h1{
    text-align: center;
    color: #FFC885;
    text-shadow: 1px 1px 1px #e49e48aa;
}
h2{
    color: #4380cb;
}
body{
    background-image: linear-gradient(to right, 
    #C6FFB0, #FFC885, #EBE091, 
    #C3EBDE, #94C5FF);  
}
p{
    text-align: justify;
}